.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 20px;
  height: 700px;
  width: 100%;
  /* transform: translateX(-20px); */
  color: white;
  background-color: red;
  padding: 25px;
  flex: 1;
  z-index: 5;
}
  
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
}

.tooltip {
  margin-right: 10px;
  font-size: 14px;
}
#btn {
  display: flex;
}
.quiz-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.card {
  width: 100%;
  max-width: 290px;
  height: 70px;
  background: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img {
  background-image: url("/Projet-Quiz/photo/arts.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.card:hover > .img {
  background-image: url("/Projet-Quiz/photo/arts.png");
  transition: 0.5s ease-in-out;
}

.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  font-size: 10px;
}

.h1 {
  font-size: 16px;
  font-weight: bold;
}

.p {
  font-size: 12px;
  font-weight: lighter;
}
.img{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/arts.png");
}

.card2:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img2 {
  background-image: url("/Projet-Quiz/photo/chanson.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.card2:hover > .img {
  background-image: url("/Projet-Quiz/photo/chanson.png");
  transition: 0.5s ease-in-out;
}

.textBox2 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}

.textContent2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span2 {
  font-size: 10px;
}

.h12 {
  font-size: 16px;
  font-weight: bold;
}

.p2 {
  font-size: 12px;
  font-weight: lighter;
}
.img2{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/chanson.png");
}

.card3:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img3 {
  background-image: url("/Projet-Quiz/photo/cinema.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.card3:hover > .img {
  background-image: url("/Projet-Quiz/photo/cinema.png");
  transition: 0.5s ease-in-out;
}

.textBox3 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}

.textContent3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span3 {
  font-size: 10px;
}

.h13 {
  font-size: 16px;
  font-weight: bold;
}

.p3 {
  font-size: 12px;
  font-weight: lighter;
}
.img3{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/cinema.png");
}

.card4:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img4 {
  background-image: url("/Projet-Quiz/photo/economie.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.card4:hover > .img {
  background-image: url("/Projet-Quiz/photo/economie.png");
  transition: 0.5s ease-in-out;
}

.textBox4 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}

.textContent4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span4 {
  font-size: 10px;
}

.h14 {
  font-size: 16px;
  font-weight: bold;
}

.p4 {
  font-size: 12px;
  font-weight: lighter;
}
.img4{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/economie.png");
}

.card5:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img5 {
  background-image: url("/Projet-Quiz/photo/faune.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.card5:hover > .img {
  background-image: url("/Projet-Quiz/photo/faune.png");
  transition: 0.5s ease-in-out;
}

.textBox5 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}

.textContent5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span5 {
  font-size: 10px;
}

.h15 {
  font-size: 16px;
  font-weight: bold;
}

.p5 {
  font-size: 12px;
  font-weight: lighter;
}
.img5{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/faune.png");
}

.card6:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.img6 {
  background-image: url("/Projet-Quiz/photo/flore.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}
.card6:hover > .img {
  background-image: url("/Projet-Quiz/photo/flore.png");
  transition: 0.5s ease-in-out;
}
.textBox6 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}
.textContent6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span6 {
  font-size: 10px;
}
.h16 {
  font-size: 16px;
  font-weight: bold;
}
.p6 {
  font-size: 12px;
  font-weight: lighter;
}
.img6{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/flore.png");
}

.card7:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.img7 {
  background-image: url("/Projet-Quiz/photo/gastro.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}
.card7:hover > .img {
  background-image: url("/Projet-Quiz/photo/gastro.png");
  transition: 0.5s ease-in-out;
}
.textBox7 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}
.textContent7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span7 {
  font-size: 10px;
}
.h17 {
  font-size: 16px;
  font-weight: bold;
}
.p7 {
  font-size: 12px;
  font-weight: lighter;
}
.img7{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/gastro.png");
}

.card8:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.img8 {
  background-image: url("/Projet-Quiz/photo/geo.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}
.card8:hover > .img {
  background-image: url("/Projet-Quiz/photo/geo.png");
  transition: 0.5s ease-in-out;
}
.textBox8 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}
.textContent8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span8 {
  font-size: 10px;
}
.h18 {
  font-size: 16px;
  font-weight: bold;
}
.p8 {
  font-size: 12px;
  font-weight: lighter;
}
.img8{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/geo.png");
}

.card9:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.img9 {
  background-image: url("/Projet-Quiz/photo/histoire.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}
.card9:hover > .img {
  background-image: url("/Projet-Quiz/photo/histoire.png");
  transition: 0.5s ease-in-out;
}
.textBox9 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}
.textContent9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span9 {
  font-size: 10px;
}
.h19 {
  font-size: 16px;
  font-weight: bold;
}
.p9 {
  font-size: 12px;
  font-weight: lighter;
}
.img9{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/histoire.png");
}

.card10:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.img10 {
  background-image: url("/Projet-Quiz/photo/institutions.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}
.card10:hover > .img {
  background-image: url("/Projet-Quiz/photo/institutions.png");
  transition: 0.5s ease-in-out;
}
.textBox10 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}
.textContent10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span10 {
  font-size: 10px;
}
.h110 {
  font-size: 16px;
  font-weight: bold;
}
.p10 {
  font-size: 12px;
  font-weight: lighter;
}
.img10{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/institutions.png");
}

.card11:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.img11 {
  background-image: url("/Projet-Quiz/photo/langue.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}
.card11:hover > .img {
  background-image: url("/Projet-Quiz/photo/langue.png");
  transition: 0.5s ease-in-out;
}
.textBox11 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}
.textContent11 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span11 {
  font-size: 10px;
}
.h111 {
  font-size: 16px;
  font-weight: bold;
}
.p11 {
  font-size: 12px;
  font-weight: lighter;
}
.img11{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/langue.png");
}

.card12:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.img12 {
  background-image: url("/Projet-Quiz/photo/litterature.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}
.card12:hover > .img {
  background-image: url("/Projet-Quiz/photo/litterature.png");
  transition: 0.5s ease-in-out;
}
.textBox12 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}
.textContent12 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span12 {
  font-size: 10px;
}
.h112 {
  font-size: 16px;
  font-weight: bold;
}
.p12 {
  font-size: 12px;
  font-weight: lighter;
}
.img12{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/litterature.png");
}

.card13:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.img13 {
  background-image: url("/Projet-Quiz/photo/mode.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}
.card13:hover > .img {
  background-image: url("/Projet-Quiz/photo/mode.png");
  transition: 0.5s ease-in-out;
}
.textBox13 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}
.textContent13 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span13 {
  font-size: 10px;
}
.h113 {
  font-size: 16px;
  font-weight: bold;
}
.p13 {
  font-size: 12px;
  font-weight: lighter;
}
.img13{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/mode.png");
}

.card14:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.img14 {
  background-image: url("/Projet-Quiz/photo/quotidien.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}
.card14:hover > .img {
  background-image: url("/Projet-Quiz/photo/quotidien.png");
  transition: 0.5s ease-in-out;
}
.textBox14 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}
.textContent14 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span14 {
  font-size: 10px;
}
.h114 {
  font-size: 16px;
  font-weight: bold;
}
.p14 {
  font-size: 12px;
  font-weight: lighter;
}
.img14{
  width: 110px;
  height: 110px;
  background-image: url("/Projet-Quiz/photo/quotidien.png");
}

.card15:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.img15 {
  background-image: url("/Projet-Quiz/photo/sports.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}
.card15:hover > .img {
  background-image: url("/Projet-Quiz/photo/sports.png");
  transition: 0.5s ease-in-out;
}
.textBox15 {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}
.textContent15 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span15 {
  font-size: 10px;
}
.h115 {
  font-size: 16px;
  font-weight: bold;
}
.p15 {
  font-size: 12px;
  font-weight: lighter;
}
.img15{
  width: 115px;
  height: 115px;
  background-image: url("/Projet-Quiz/photo/sports.png");
}
.deco {
  min-width: 120px;
  background: #353535;
  color: #EEEEEE;
  height: 40px;
  margin: 10px;
  border: none;
  border-radius: 0 !important;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.deco:hover {
  box-shadow: #00203f 0px 0px 0px 6px, #161616 0px 0px 0px 5px;
  background: #000;
  color: #EEEEEE;
}

