.list{
    display: flex;
    justify-content: flex-start;
    margin-left: 20%;
}
.list{
    margin-top: 4%;
    margin-left: 20%;
}
.modifier{
    margin: auto;
    margin-left: 20px;
    margin-top: 10px;
}
.button {
    min-width: 40px;
    background: #000;
    color: #EEEEEE;
    height: 25;
    margin-top: 10px;
    border: none;
    border-radius: 0 ;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  
    .button:hover {
    box-shadow: #EEEEEE 0px 0px 0px 11px, #161616 0px 0px 0px 10px;
    background: #000;
    color: #EEEEEE;
  }
  input[type="submit"] {
    background-color: #89d7e3; /* couleur de fond du bouton */
    border: none; /* pas de bordure */
    color: white; /* couleur du texte */
    padding: 10px 20px; /* espace de remplissage */
    text-align: center; /* alignement du texte */
    text-decoration: none; /* pas de décoration de texte */
    display: inline-block; /* afficher en tant que bloc en ligne */
    font-size: 16px; /* taille de la police de caractères */
    border-radius: 5px; /* arrondir les coins du bouton */
    cursor: pointer; /* curseur de souris en main pour indiquer qu'il est cliquable */
    transition-duration: 0.3s; /* durée de la transition pour l'effet hover */
  }
  
  input[type="submit"]:hover {
    background-color: #60bbd6; /* couleur de fond du bouton lorsqu'il est survolé */
  }
  