body{

    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;}
#entete{
    background-color: #15273f;
    height: 100px;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
}
#corp{
    background-color: #469098;
    height: 800px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    display: flex;
}
.header{
    background-color: #056a92;
    padding: 20px;
    text-align: start;
    border-bottom: 1px solid #ddd;
    
}
.conteneur{
    
   background-color: #15273f;
   height: 700px;
   width: 400px;
   display: flex;
   justify-content: center;
   border-radius: 25px;
   justify-content: center;
    align-items: center;
    margin-left : 750px;
    color: azure;
    }
    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s;
      }
      
      input[type="submit"]:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px #4CAF50;
      }
