body{
    
    font-size: 16px;
    margin: 0;
    padding: 0;
    justify-content: center;
}   
#entete{
    background-color: #15273f;
    height: 75px;
    display: flex;
    justify-content: flex-end; 
    border-radius: 10px;
}
#corp{
    background-color: #469098;
    height: 800px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    display: flex;
}
.header{
    background-color:#4b50d0;
    padding: 20px;
    color:#d6ed8b ;
    
}
.titre{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#d6ed8b ;
    
}
.conteneur{
    
  
   height: 700px;
   width: 400px;
   display: flex;
   justify-content: center;
   border-radius: 25px;
   justify-content: center;
   align-items: center;
   color: azure;

    align-items: center;
    color: azure;
}
#signup{
    background-color: #09134f;
        color: white;
        padding: 14px 20px;
        border: none;
        margin :10px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s;
        margin-right: 3%;
}
#signup:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #09134f;
}
#login{
    background-color: #09134f;
        color: white;
        padding: 14px 20px;
        border: none;
        margin :10px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s;
        margin-right: 1%;
}
#login:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #09134f;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
      }
      
input[type="submit"]:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #4CAF50;
      }

      
input[type="submit"]:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px #4CAF50;
}

    
input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s;
    }
      
    input[type="submit"]:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px #4CAF50;
    }
    select {
        padding: 10px;
        font-size: 16px;
        width: 200px;
        border-radius: 5px;
        border: 1px solid gray;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-position: right 50%;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-size: 20px;
        background-color: white;
        transition: border 0.2s, background-color 0.2s;
      }
      select:focus {
        border-color: cornflowerblue;
        background-color: aliceblue;
        outline: none;
      }
      .container{
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
#logo{
    width: 100px;
    height: 75px;
    display: flex;
    justify-content: flex-start;
}
#btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(43, 92, 152);
    height: 500px;
    width: 400px;
    border-radius: 25px;
    align-content: space-between;
}
.quiz1{
    align-items: start;
    background-color: rgb(104, 168, 246);
    height: 40px;
    width: 380px;
    border-radius: 25px;
}
.quiz2{
    align-items: start;
    background-color: rgb(104, 168, 246);
    height: 40px;
    width: 380px;
    border-radius: 25px;
}
.quiz3{
    align-items: start;
    background-color: rgb(104, 168, 246);
    height: 40px;
    width: 380px;
    border-radius: 25px;
}
.quiz4{
    align-items: start;
    background-color: rgb(104, 168, 246);
    height: 40px;
    width: 380px;
    border-radius: 25px;
}